:root {
    --main-color: #320652;
    --accent-color: #ffffff;
    --bg-color: #edd7fa;
}
body{
    background-color: var(--bg-color);
    color: var(--main-color);
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding: 5px 10px 5px;
}
img{
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
aside{
    float: right;
    max-width: 290px;
    margin-right: 390px;
    background-color: var(--accent-color);
    border: 2px solid var(--main-color);
    text-align: center;
}
main {
    margin-left: 390px;
}
form{
    text-align: center;
    padding: 5px 10px 5px;
}
footer{
    text-align: center;
}