:root {
    --main-color: #320652;
    --accent-color: #ffffff;
    --bg-color: #edd7fa;
    --font-mono: "Courier New", monospace;
}
body{
    background-color: var(--bg-color);
    color: var(--main-color);
    margin: 0;
    padding: 0;
}
header{
    position: static;
    text-align: center;
    padding: 5px 10px 5px;
}
img{
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
aside{
    float: right;
    max-width: 290px;
    margin-right: 390px;
    border: 2px solid var(--main-color);
    text-align: center;
    padding: 5px 15px 25px;
}
main {
    margin-left: 390px;
}
form{
    text-align: center;
    padding: 5px 10px 5px;
}
button {
    background-color: var(--main-color);
    color: var(--accent-color);
    padding: 10px 20px;
    font-size: 13px;
}
button:hover {
    opacity: 0.7;
}
button:active {
    background-color: var(--bg-color);
    color: var(--main-color);
}
button:focus {
    outline: 3px solid var(--accent-color);
}
footer{
    text-align: center;
}
a {
    color: var(--main-color);
}
a:visited {
    color: #250c5b;
}
.project {
    position: relative;
    display: inline-block;
}
.favorite {
    position: absolute;
    right: -17px;
}
